.Category {
  height: 70vh;
  width: 29vw;
  padding: 0 0.75em 0.75em 0.75em;
  background-size: auto 80%;
  background-color: #223;
  margin: 1em;
  color: #FFF0E0;
  border-radius: 2px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  cursor: pointer; }
  @media screen and (max-width: 780px) {
    .Category {
      width: 43vw; } }
  @media screen and (max-width: 460px) {
    .Category {
      width: 98vw;
      margin: 0.5em auto 0 auto; } }

.single-category {
  height: auto;
  width: 98vw;
  margin: 0.5em auto 0 auto; }

.Category:hover {
  background-color: #363652; }

.category-title {
  padding: 0.75em 0;
  display: block;
  width: 100%;
  text-decoration: none;
  color: #fff0e0; }

.icon {
  display: block;
  size: 4em;
  margin: 1em; }

.post-preview-container {
  display: block;
  text-align: left;
  text-decoration: none;
  color: #FFF0E0;
  margin: 0.1em;
  background-color: #783E3F;
  padding: 0.5em;
  border-radius: 2px; }

.Category:hover .post-preview-container {
  background-color: #D7755F;
  overflow: hidden; }

.Category .post-preview-container:hover {
  background-color: #ECD2C8;
  color: #D7755F; }

.post-preview-comments, .post-preview-votes {
  display: block;
  float: right;
  font-size: x-small;
  margin-left: 0.5em; }

.post-preview-title {
  font-size: small;
  display: block;
  margin-bottom: 1em; }

.post-preview-teaser {
  font-size: xx-small;
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
