@import '../../../constants/_colors';
@import '../../../constants/_media';

.Category {
    height: 70vh;
    width: 29vw;
    padding: 0.75em;
    background-size: auto 80%;
    background-color: $nice_purple;
    margin: 1em;
    color: #fff0e0;
    border-radius: 2px;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    cursor: pointer;
    @media screen and (max-width: $tablet) {
        width: 43vw;
    }    
    @media screen and (max-width: $mobile) {
        width: 90vw;
        margin: 0.5em auto 0 auto;
    }
}

.Category:hover {
    background-color: $lighter_purple;
}

.icon {
    display: block;
    size: 4em;
    margin: 1em;
}

.post-preview-container {
    display: block;
    text-align: left;
    text-decoration: none;
    color: $nice_white;
    margin: 0.1em;
    background-color: $nice_red;
    padding: 0.5em;
    border-radius: 2px;
}

.Category:hover .post-preview-container {
    background-color: $nice_tomato;
}

.Category .post-preview-container:hover {
    background-color: $lightest_peach;
    color: $nice_tomato;
}


.post-preview-title {
    font-size: small;
    display: block;
}

.post-preview-teaser {
    font-size: x-small;
    display: block;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
