.Category {
  height: 70vh;
  width: 29vw;
  padding: 0.75em;
  background-size: auto 80%;
  background-color: #223;
  margin: 1em;
  color: #fff0e0;
  border-radius: 2px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  cursor: pointer; }
  @media screen and (max-width: 780px) {
    .Category {
      width: 43vw; } }
  @media screen and (max-width: 460px) {
    .Category {
      width: 90vw;
      margin: 0.5em auto 0 auto; } }

.Category:hover {
  background-color: #363652; }

.icon {
  display: block;
  size: 4em;
  margin: 1em; }

.post-preview-container {
  display: block;
  text-align: left;
  text-decoration: none;
  color: #FFF0E0;
  margin: 0.1em;
  background-color: #783E3F;
  padding: 0.5em;
  border-radius: 2px; }

.Category:hover .post-preview-container {
  background-color: #D7755F; }

.Category .post-preview-container:hover {
  background-color: #ECD2C8;
  color: #D7755F; }

.post-preview-title {
  font-size: small;
  display: block; }

.post-preview-teaser {
  font-size: x-small;
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
