.ListItem {
  height: 70vh;
  width: 29vw;
  padding: 0.75em;
  background-size: auto 80%;
  background-color: #222;
  margin: 1em;
  color: #fff0e0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  cursor: pointer; }
  @media screen and (max-width: 780px) {
    .ListItem {
      width: 43vw; } }
  @media screen and (max-width: 460px) {
    .ListItem {
      width: 90vw;
      margin: 0.5em auto 0 auto; } }

.ListItem:hover {
  background-color: #223; }

.icon {
  display: block;
  size: 4em;
  margin: 1em; }

.teaser {
  font-size: x-small;
  display: block;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
