div, button, span, input {
  box-sizing: border-box; }

.App {
  text-align: center; }

.App-logo {
  height: 100%;
  float: left; }

.App-header {
  background-color: #222;
  height: 15vh;
  padding: 1em;
  color: #FFF0E0; }

.App-intro {
  font-size: large; }
