.Controls {
  background-color: #783E3F;
  color: #FFF0E0;
  overflow: hidden; }

.sort-label {
  float: left;
  padding: 0.5em;
  margin-left: 1em; }

.sort-btn {
  width: 20%;
  float: left;
  padding: 0.5em;
  background-color: #783E3F;
  color: #FFF0E0;
  border: none;
  cursor: pointer; }

.sort-btn:hover:not(.active) {
  background-color: #8484ae;
  color: #223; }

.sort-btn.active {
  background-color: #223; }

.post-btn {
  width: 29%;
  float: right;
  padding: 0.5em;
  margin-right: 1em;
  background-color: #363652;
  color: #FFF0E0;
  border: none;
  cursor: pointer; }
  @media screen and (max-width: 460px) {
    .post-btn {
      width: 20%; } }

.post-btn:hover {
  background-color: #8484ae;
  color: #223; }
