.Post {
  height: 70vh;
  width: 98vw;
  margin: 0.5em auto 0 auto;
  padding: 0.75em;
  background-size: auto 80%;
  background-color: #783E3F;
  color: #FFF0E0;
  border-radius: 2px;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  cursor: pointer;
  text-align: left;
  overflow: hidden; }

.PostControls {
  float: right; }

.post-stats {
  display: block;
  float: right;
  margin-right: 1em;
  line-height: 1.5em; }

.post-cnt-btn {
  background-color: #8484ae;
  border-color: #223; }
