@import '../../constants/_colors.scss';

.NewComment {
    background-color: $lighter_purple;
}

.new-comment-name {
    width: 30%;
    display: block;
    margin: 0 0 1em 0.5%;
}

.new-comment-content {
    width: 99%;
    display: block;
    margin: auto;
    height: 15vh;
}
